img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    text-transform: initial;
    color: #d0ca9e;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem
}

.article-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.625rem;
    text-transform: initial;
    margin-bottom: 2.25rem;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    text-transform: initial;
    line-height: 1.3125rem;

}

.main {
    padding-top: 3.4375rem;
}

.article {
    margin-bottom: 5rem;
}

.shorter-title {
    margin-bottom: 3.75rem;
}

.hor-line {
    height: 1px;
    width: 100%;
    background-color: #cbcbc3;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fade-in {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

.hor-line {
    -webkit-animation: fade-in 2s linear;
    /* Safari 4+ */
    -moz-animation: fade-in 2s linear;
    /* Fx 5+ */
    -o-animation: fade-in 2s linear;
    /* Opera 12+ */
    animation: fade-in 2s linear;
    /* IE 10+, Fx 29+ */
}

.hor-line:nth-of-type(2) {
    -webkit-animation: fade-in 2.5s linear;
    /* Safari 4+ */
    -moz-animation: fade-in 2.5s linear;
    /* Fx 5+ */
    -o-animation: fade-in 2.5s linear;
    /* Opera 12+ */
    animation: fade-in 2.5s linear;
    /* IE 10+, Fx 29+ */
}

.hor-line:nth-of-type(3) {
    -webkit-animation: fade-in 4s linear;
    /* Safari 4+ */
    -moz-animation: fade-in 4s linear;
    /* Fx 5+ */
    -o-animation: fade-in 4s linear;
    /* Opera 12+ */
    animation: fade-in 4s linear;
    /* IE 10+, Fx 29+ */
}

.hor-line:nth-of-type(4) {
    -webkit-animation: fade-in 5s linear;
    /* Safari 4+ */
    -moz-animation: fade-in 5s linear;
    /* Fx 5+ */
    -o-animation: fade-in 5s linear;
    /* Opera 12+ */
    animation: fade-in 5s linear;
    /* IE 10+, Fx 29+ */
}

@media (min-width: 1366px) {
    .section-title {
        font-size: 3.8125rem;
        margin-top: 0;
    }

    .main {
        display: flex;
    }

    .section {
        flex-basis: 80%;
        justify-content: space-around;
    }

    .main-img {
        flex-basis: 24.75rem;
    }

    .section-article {
        display: flex;
        justify-content: space-between;
    }

    .article {
        flex-basis: 26%;
    }

    .main {
        padding-top: 11.125rem;
        padding-bottom: 14.25rem;
    }

    .container-img {
        flex-basis: 50%;
    }

    article:nth-child(-n+3) {
        margin-bottom: 0;
    }
}